*
{
    margin: 0;
    padding: 0;
    font-family: 'Vollkorn serif';
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}

/* 1 rem = 16px (default font-size)*/

html
{
    font-size: 62.5%;   /* decreased ram to 10px (same as font-size)*/
}

:root /* define global variables */
{  
    --primary-color: #2b81e4;
    --secondary-color: #eee;
    --white-color: #fff;
    --grey-color: #555;
    --light-grey-color: #777;
}

.center /* for centered elements */
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container
{
    background-color: var(--secondary-color);   /*use variable*/
    margin: 3.5rem;
    box-shadow: 0 1rem 3rem var(--grey-color);
}

/*viewport is a visible area of a web page */
.header
{
    width: 100%;
    height: calc(100vh - 7rem);  /*100vh = 100% viewport, 7rem = 2 margins (top and bottom)*/
    background: linear-gradient(rgba(18,113,255, 0.5), rgba(18,113,255, 0.3)), url(../img/header-bg.jpg) center no-repeat;
    background-size: cover;
}

.header-text
{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1rem;
    text-shadow: 0 .3rem .5rem var(--grey-color);
}

.heading
{
    font-size: 8rem;
    color: var(--white-color);
}

.heading-paragraph
{
    font-size: 3rem;
    font-weight: 500;
    color: var(--secondary-color);
    max-width: 70rem;
    margin: auto;
}