/* COMMON */
*
{
    margin: 0;
    padding: 0;
    font-family: 'Vollkorn serif';
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}

/* 1 rem = 16px (default font-size)*/

html
{
    font-size: 62.5%;   /* decreased rem to 10px*/
}

:root /* define global variables */
{  
    --primary-color: #2b81e4;
    --secondary-color: #eee;
    --white-color: #fff;
    --grey-color: #555;
    --light-grey-color: #777;
}

.center /* for centered elements */
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container
{
    background-color: var(--secondary-color);   /*use variable*/
    margin: 3.5rem;
    box-shadow: 0 1rem 3rem var(--grey-color);
    overflow: hidden;
}
/* COMMON END  */

/* HEADER */
    /*viewport is a visible area of a web page */
.header
{
    width: 100%;
    height: calc(100vh - 7rem);  /*100vh = 100% viewport, 7rem = 2 margins (top and bottom)*/
    background: linear-gradient(rgba(18,113,255, 0.5), rgba(18,113,255, 0.0)), url(../img/header-bg.jpg) center no-repeat;
    background-size: cover;
    position: relative;
    perspective: 100rem;
}

.header-text
{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1rem;
    text-shadow: 0 .3rem .5rem var(--grey-color);
}

.heading
{
    font-size: 8rem;
    color: var(--white-color);
}

.heading-paragraph
{
    font-size: 3rem;
    font-weight: 500;
    color: var(--secondary-color);
    max-width: 70rem;
    margin: auto;
}

.logo
{
    position: absolute;
    top: 4rem;
    right: 4rem;
}

.logo h1
{
    display: flex;
}

.logo h1 span
{
    font-size: 2rem;
    font-weight: 900;
    color: var(--primary-color);
    text-transform: uppercase;
    background-color: var(--white-color);
    width: 3.5rem;
    height: 3.5rem;
    margin: 0.5rem;
    border-radius: 50%;
}

.logo h1 span:nth-child(1)
{
    /* animation-name: drop-letters;
    animation-duration: 5s;
    animation-delay: .1s;
    animation-iteration-count: infinite; */

    animation: drop-letters 5s .1s infinite;    /*same as above*/
}

.logo h1 span:nth-child(2)
{
    animation: drop-letters 5s .2s infinite; 
} 

.logo h1 span:nth-child(3)
{
    animation: drop-letters 5s .3s infinite; 
} 

.logo h1 span:nth-child(4)
{
    animation: drop-letters 5s .4s infinite; 
} 

.logo h1 span:nth-child(5)
{
    animation: drop-letters 5s .5s infinite; 
} 

.logo h1 span:nth-child(6)
{
    animation: drop-letters 5s .6s infinite; 
} 

.logo h1 span:nth-child(7)
{
    animation: drop-letters 5s .7s infinite; 
} 

.header-image
{
    width: 35%;
    animation: image-float 150s infinite; /*no delay here*/
}

@keyframes drop-letters
{
    from
    {
        transform: translateY(0);
    }

    10%
    {
        transform: translateY(0);
    }

    15%
    {
        transform: translateY(-100%);
    }

    20%
    {
        transform: translateY(0);
    }

    to
    {
        transform: translateY(0);
    }
}

@keyframes image-float
{
    from
    {
        transform: translateZ(40rem); /* '+' closer, '-' further*/
        opacity: 1;
    }

    40%
    {
        transform: translateZ(-500rem)
        translateX(150rem);
        opacity: .8;
    }

    60%
    {
        transform: translateZ(-1500rem)
        translateX(800rem);
        opacity: .6;
    }

    80%
    {
        transform: translateZ(-50rem)
        translateX(100rem);
        opacity: .8;
    }
    
    to
    {
        transform: translateZ(40rem);
        opacity: 1;
    }
}
/* HEADER END */



/* TOURS CARDS */
.popular-tours
{
    padding: 5rem 0 10rem 0;
}

.popular-tours-heading
{
    font-size: 8rem;
    text-align: center;
    margin-bottom: 8rem;
    color: var(--primary-color);
    text-shadow: 0 .1rem .2rem var(--primary-color);
}

.cards-wrapper
{
    display: flex;
    justify-content: space-evenly;
}

.card
{
    width: 35rem;
    position: relative;
    perspective: 150rem;
}

.card-image
{
    width: 100%;
    border-radius: .3rem .3rem 0 0; /* topleft, topright, bottomright, bottomleft*/
}

.front-side
{
    text-align: center;
    background-color: var(--white-color);
    border-radius: .3rem;
    position: relative;
    z-index: 10;
    opacity: .9;
    transition: opacity .4s, transform .4s, box-shadow .4s;
}

.change > .front-side /*selection valid after click on button*/
{
    transform: translateZ(-5rem) translateX(3rem);
    box-shadow: 0 2rem 4rem var(--light-grey-color);
    opacity: .5;
    z-index: 0;
}

.change > .back-side
{
    transform: translateZ(0) translateX(0);
    box-shadow: 0 .5rem 2rem #aaa;
    opacity: .9;
}

.tour-name
{
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    right: 1.5rem;
    color: var(--white-color);
    text-shadow: 0 0 1rem #000;
}

.card-list
{
    width: 80%;
    margin: auto;
    padding: 2rem 0 3rem 0;
}

.card-list-item
{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--light-grey-color);
    margin: 2rem 0;
    border-bottom: .1rem solid var(--primary-color);
    padding: 1.5rem;
}

.back-side
{
    position: absolute;
    top: 0;
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    border-radius: .3rem;
    box-shadow: 0 2rem 4rem var(--light-grey-color);
    flex-direction: column;
    transform: translateZ(-5rem) translateX(3rem);
    opacity: .5;
    transition: opacity .4s, transform .4s, box-shadow .4s;
}

.tour-price
{
    font-size: 5rem;
    font-weight: 300;
    color: var(--white-color);
    margin-bottom: 3rem;
}

.card-button
{
    color: var(--primary-color);
    background-color: var(--white-color);
    border: none;
    font-size: 2.5rem;
    padding: 1rem 2rem;
    letter-spacing: .2rem;
    border-radius: 5rem;
    cursor: pointer;
}

.card-button:hover
{
    background-color: #276bb8;
    color: var(--white-color);
}

.navigation-button
{
    position: absolute;
    top: .5rem;
    left: .5rem;
    padding: .5rem;
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--light-grey-color);
    border-radius: .3rem;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .2rem;
    cursor: pointer;
}

/* TOURS CARDS END */

/* STORIES */
.stories
{
    padding: 10rem 0;
    position: relative;
}

.video-container
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .6;
}

.bg-video
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stories-wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.story-bg
{
    background-color: rgba(238, 238, 238, .85);
    padding: 5rem;
    margin: 5rem;
    width: 70%;
    box-shadow: 0 2rem 5rem rgba(51, 51, 51, .4);
    transform: skewX(20deg);
}

.story
{
    transform: skewX(-20deg);
    display: flex;
}

.story-image
{
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 5rem;
}

.story-text
{
    letter-spacing: 0.2rem;
}

.story-heading
{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--grey-color);
    margin-bottom: 5rem;
}

.story-paragraph
{
    font-size: 1.8rem;
    color: var(--light-grey-color);
}

.story-paragraph::first-letter
{
    margin-left: 2rem;
}

/* STORIES END */